<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.demo.boardMapper">

    <select id="boardList" resultType="Board" parameterType="Board">
        select * from (select rownum rm, b.* from
                (select * from board order by id desc) b)
        where rm between #{start} and #{end}
    </select>

    <select id="boardTitleSearchTotal" resultType="int" parameterType="Board">
        select count(*) from (select * from board where title like '%' || #{searchInput} || '%' order by id desc)
    </select>

    <select id="boardContentSearchTotal" resultType="int" parameterType="Board">
        select count(*) from (select * from board where content like '%' || #{searchInput} || '%' order by id desc)
    </select>

    <select id="boardTitleSearch" resultType="Board" parameterType="Board">
        select * from (select rownum rm, b.* from
                (select * from board where title like '%' || #{searchInput} || '%' order by id desc) b)
        where rm between #{start} and #{end}
    </select>

    <select id="boardContentSearch" resultType="Board" parameterType="Board">
        select * from (select rownum rm, b.* from
            (select * from board where content like '%' || #{searchInput} || '%' order by id desc) b)
        where rm between #{start} and #{end}
    </select>

    <select id="getBoard" resultType="Board">
        SELECT id, boardName, password, title, content, inserted FROM Board WHERE id = #{id}
    </select>

    <insert id="insertBoardNull" parameterType="Board">
        INSERT INTO Board(id, boardName, title, content, inserted) VALUES (auto.nextval, #{boardName}, #{title}, #{content}, sysdate)
    </insert>

    <insert id="insertBoard" parameterType="Board">
        INSERT INTO Board(id, boardName, password, title, content, inserted) VALUES (auto.nextval, #{boardName}, #{password}, #{title}, #{content}, sysdate)
    </insert>

    <update id="updateBoard">
        UPDATE Board SET title = #{title}, content = #{content}
        WHERE id = #{id}
    </update>

    <delete id="deleteBoardById">
        DELETE FROM Board WHERE id = #{id}
    </delete>

    <select id="total" resultType="int">
        select count(*) from Board
    </select>

</mapper>