<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.demo.memberMapper">
    
    <insert id="addMember" parameterType="Board">
        INSERT INTO Member VALUES (#{boardName}, #{password})
    </insert>

    <insert id="addMemberNull" parameterType="Board">
        INSERT INTO Member (name) VALUES (#{boardName})
    </insert>

</mapper>